configobj
selenium
Babel==1.3
Flask==1.0
Flask-admin
Flask-login
Flask-Babel==0.9
Flask-Bootstrap==3.1.1.2
Flask-Script==2.0.3
Flask-WTF==0.9.5
Flask-Testing
Jinja2==2.11.3
MarkupSafe==0.21
WTForms==1.0.5
Werkzeug==0.9.4
itsdangerous==0.24
passlib==1.6.2
pytz==2014.2
speaklater==1.3