{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ _('Apache Credential Update') }}
{% endblock title %}


{% block content %}

<div class="container">
<p>
{{ _('Hello,
    Through the form bellow, you can change your password. <br /> For this happen,
     you must provide your username (based on the format defined by your administrator or enterprise),
     first password or current password and the new one.')
}}
</p>
{{ wtf.quick_form(form) }}
</div>
{% endblock %}